version: "3.9"
name: cash-flow-dev
services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: cash_flow_db
    restart: unless-stopped
  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://admin:password@mongo:27017/cash_flow_db?authSource=admin
      ME_CONFIG_BASICAUTH: "false"
    depends_on:
      - mongo 
    restart: unless-stopped

networks:
  cash-flow-network:
    driver: bridge

volumes:
  mongo_data:
